<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Group 115 - Step 3</title>
</head>

<body>
<h1>INDEX PAGE - Los Santos School District Database (Group 115)</h1>
<h2><a href="schools.hbs">Schools Page</a></h2>
    <p>This page allows user to browse the schools, add new schools, 
        update current schools, or delete schools</p>

</body>

</html>